<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />

        {% block head_content %} {% endblock %}
    </head>

    <body>
        <header class="header">
            <h1 class="header__logo">
                <a href="{{ url_for('index') }}" class="header__link"></a>
                {% if "add" not in request.endpoint %}
                <a href="{{ url_for('add_habit') }}" class="header__link"
                    >+ Add new</a
                >
                {% endif %}
            </h1>
        </header>

        <main class="main">{% block main_content %} {% endblock %}</main>
    </body>
</html>
